<div class="jumbotron jumbotron-fluid">
    <div class="container">

      <h1 class="display-4">A New Shopping Experience!</h1>
      <div class="row mb-3 mr-2">
        <img src="https://media.istockphoto.com/photos/shopping-cart-in-supermarket-aisle-with-product-shelves-interior-picture-id1128949343?s=612x612" alt="...">
    </div>
      <p class="lead">At Kitchen Story, we create the ultimate shopping experience - right from your home!.</p>
        <p>Shop all the fresh groceries you need, from the comfort of your home! To get started, <a href="/login">login</a> or if you are new to Kitchen Story, <a href="/register">register</a> for an account to begin shopping now!</p>
    </div>
  </div>

