<div class="jumbotron jumbotron-fluid">
    <div class="container">

      <h1 class="display-4">A New Ticket-Buying Experience!</h1>
      <div class="row mb-3 mr-2">
        <img src="https://media.istockphoto.com/photos/pop-corn-and-on-red-armchair-cinema-picture-id1271522601?s=612x612" alt="...">
    </div>
      <p class="lead">At MyMoviePlan, we create the ultimate ticket-buying experience - right from your home!.</p>
        <p>No more waiting in line for tickets. With MyMoviePlan, you can browse and purchase all of your movie tickets from the comfort of your home! To get started, <a href="/login">login</a> or if you are new to MyMoviePlan, <a href="/register">register</a> for an account to begin browsing now!</p>
    </div>
  </div>

