<!-- Bootstrap Form with validation -->
<div class="container form-container">
    <h1 style="text-align: center;">Update Product Form</h1>
    <form class="form-validate" novalidate [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
    
     <div class="form-row">
     <div class="col-sm-3"></div>
        <!-- Product Id -->
       <div class="col-sm-6">
        <div class="form-group">
          <label for="id">Product SKU:</label>
          <input type="number" class="form-control" name="id" id="id" formControlName="id"
          aria-describedby="idHelp">
          <!-- <small *ngIf="hasError('email')" [class]="hasError('email') ? 'has-error' :''">
            <div *ngIf="email?.errors">
                <span *ngIf="email?.errors?.['required']">Email is a required field</span>
                <span *ngIf="email?.errors?.['minlength']">Email is a min 6 char long field</span>
                <span *ngIf="email?.errors?.['maxlength']">Email is a max 20 char long field</span>
                <span *ngIf="email?.errors?.['email']">Please enter a valid email address</span>
            </div>
          </small> -->
        </div>
       </div>
       <div class="col-sm-3"></div>
    </div>


    <div class="form-row">
        <div class="col-sm-3"></div>
       <!-- Product Name -->
       <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" name="name" id="name" formControlName="name"  aria-describedby="nameHelp" >
          <!-- <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
            <div *ngIf="password?.errors">
                <span *ngIf="password?.errors?.['required']">Password is a required field</span>
                <span *ngIf="password?.errors?.['minlength']">Password is a min 6 char long field</span>
                <span *ngIf="password?.errors?.['maxlength']">Password is a max 15 char long field</span>
            </div>
          </small> -->
        </div>
       </div>
       <div class="col-sm-3"></div>
     </div>

  
     <div class="form-row">
      <div class="col-sm-3"></div>
     <!-- Product Image -->
     <div class="col-sm-6">
      <div class="form-group">
        <label for="img">Product Image:</label>
        <input type="text" class="form-control" name="img" id="img" formControlName="img"  aria-describedby="imgHelp" >
        <!-- <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
          <div *ngIf="password?.errors">
              <span *ngIf="password?.errors?.['required']">Password is a required field</span>
              <span *ngIf="password?.errors?.['minlength']">Password is a min 6 char long field</span>
              <span *ngIf="password?.errors?.['maxlength']">Password is a max 15 char long field</span>
          </div>
        </small> -->
      </div>
     </div>
     <div class="col-sm-3"></div>
   </div>

     <div class="form-row">
        <div class="col-sm-3"></div>
       <!-- Product Price -->
       <div class="col-sm-6">
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="price" id="price" formControlName="price"  aria-describedby="priceHelp" >
          <!-- <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
            <div *ngIf="password?.errors">
                <span *ngIf="password?.errors?.['required']">Password is a required field</span>
                <span *ngIf="password?.errors?.['minlength']">Password is a min 6 char long field</span>
                <span *ngIf="password?.errors?.['maxlength']">Password is a max 15 char long field</span>
            </div>
          </small> -->
        </div>
       </div>
       <div class="col-sm-3"></div>
     </div>

     <div class="form-row">
      <div class="col-sm-3"></div>
     <!-- Product Quantity -->
     <div class="col-sm-6">
      <div class="form-group">
        <label for="pquant">Quantity</label>
        <input type="number" class="form-control" name="pquant" id="pquant" formControlName="pquant"  aria-describedby="pquantHelp" >
        <!-- <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' :''">
          <div *ngIf="password?.errors">
              <span *ngIf="password?.errors?.['required']">Password is a required field</span>
              <span *ngIf="password?.errors?.['minlength']">Password is a min 6 char long field</span>
              <span *ngIf="password?.errors?.['maxlength']">Password is a max 15 char long field</span>
          </div>
        </small> -->
      </div>
     </div>
     <div class="col-sm-3"></div>
   </div>


  
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <button type="submit" class="btn btn-info btn-block" >Submit</button>
      </div>
      <div class="col-3"></div>
    </div>
    </form>
  </div>